<body>
  <div class="container">
    <div class="row">
      <div class="col-sm-9 col-md-7 co-lg-5 mx-auto">
        <div class="card border-0 shadow rounded-3 my-5">
          <div class="card-body p-4 p-sm-5">
            <h5 class="card-title text-center mb-5 fw-light fs-5">Sign In</h5>
            <form [formGroup]="profileForm" (ngSubmit)="onSubmit()" >
              <div class="form-floating mb-3">
                <input type="text" class="form-control" id="login" formControlName="login">
                <label for="login">Login</label>
              </div>
              <div class="form-floating mb-3">
                <input type="password" class="form-control" id="password" placeholder="Password" formControlName="password">
                <label for="password">Password</label>
              </div>

              <select class="form-select form-select-lg mb-3" aria-label=".form-select-lg example" formControlName="role">
                <option value="USER">USER</option>
                <option value="ADMIN">ADMIN</option>
              </select>

              <div class="d-grid">
                <button class="btn btn-primary btn-login text-uppercase fw-bold" type="submit"> Register </button>
              </div>
              <hr class="my-4">
              <div class="d-grid mb-2">
                <button class="btn btn-google btn-login text-uppercase fw-bold" routerLink="/login">Sign in</button>
              </div>
              <div class="d-grid">
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>


